<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <body>
         <div class="main-content">
            {{>header}}
            <p>This was created by Melody. Data api from darksky and mapbox </p>
            <img class= "portrait" src ="/image/logo.jpg">
        </div>

        {{>footer}}

    </body>
</head>

</html>